<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Prashant\TaskExtend\Model\ResourceModel\TaskExtend\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">task</argument>
			<argument name="eventPrefix" xsi:type="string">task_index_collection</argument>
        	<argument name="eventObject" xsi:type="string">task_collection</argument>
            <argument name="resourceModel" xsi:type="string">Prashant\TaskExtend\Model\ResourceModel\TaskExtend</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="task_listing_data_source" xsi:type="string">Prashant\TaskExtend\Model\ResourceModel\TaskExtend\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>